.logcontainer {
  background-image: linear-gradient(#151515, #00000033),
    url("../assets/images/burger.webp");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.regcontainer {
  background-image: linear-gradient(#151515, #00000033),
    url("../assets/images/pitja.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.appContainer {
  background-image: url("../assets/images/background.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.footerContainer {
  background-image: linear-gradient(#151515, #00000033),
    url("../assets/images/footer.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.radius {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.radius2 {
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.radius3 {
  border-radius: 60px;
}
